apiVersion: v1
kind: ConfigMap
metadata:
  name: lab-config
data:
  SPRING_PROFILES_ACTIVE: dev
  application.properties: |
    management.endpoints.web.exposure.include=health,info
    management.endpoint.health.probes.enabled=true