apiVersion: v1
kind: ConfigMap
metadata:
  name: lab-config
  namespace: mls-lab
data:
  SPRING_PROFILES_ACTIVE: prod
  application.properties: |
    management.endpoints.web.exposure.include=health,info
    management.endpoint.health.probes.enabled=true