apiVersion: apps/v1
kind: Deployment
metadata:
  name: lab-service
  labels:
    app: lab-service

spec:
  replicas: 2
  selector:
    matchLabels:
      app: lab-service
  template:
    metadata:
      labels:
        app: lab-service
    spec:
      containers:
        - name: lab-service
          image: cohad-lab-service:v5-oom
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "250m"
              memory: "150Mi"
            limits:
              cpu: "500m"
              memory: "150Mi"
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
