apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: lab-service-hpa
  namespace: mls-lab
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: lab-service
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
        - type: Percent
          value: 100
          periodSeconds: 60
        - type: Pods
          value: 4
          periodSeconds: 60
      selectPolicy: Max
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Percent
          value: 50
          periodSeconds: 60
      selectPolicy: Max
